.expenses {
  padding: 0;
  margin: 0 auto;
  width: 50rem;
  max-width: 95%;
  flex-grow: 1;
  position: relative;
}

.expensesChart {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.addButton {
  color: #fff;
  background-color: #6c8efd;
  font-size: 2rem;
  border: none;
  padding: 1rem;
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  line-height: 1;
  position: fixed;
  right: 1rem;
  bottom: 1.5rem;
  cursor: pointer;
  outline: none;
}

.addButton:hover,
.addButton:active {
  background-color: #3a68ff;
}
