.chart {
  margin: 0.5rem 0 1rem;
}

.nav {
  display: flex;
  height: 2.75rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.timeframeTabs, .chevrons {
  display: flex;
  margin-right: 1rem;
}

.radio {
  display: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  padding: 0 1rem;
  font-size: 0.75rem;
  box-sizing: border-box;
  color: rgba(0,0,0, 0.9);
  background-color: #fff;
  cursor: pointer;
  transition: all 0.1s;
  border: 2px solid transparent;
  border-radius: 1rem;
  outline: none;
}

.button:hover, .active {
  border-color: #000;
}

.next,
.prev {
  border-radius: 50%;
  width: 2rem;
  padding: 0;
}

.next {
  margin-left: 1rem;
}

.chartInfo {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  margin: 2rem 1rem;
}

.disabled {
  color: rgba(0,0,0, 0.5);
  cursor: default;
  pointer-events: none;
}
