.chart {
  margin: 2rem 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  margin: 2rem 0;
}

.navLeft, .navRight {
  display: flex;
  justify-content: flex-start;
}

.navLeft {
  width: 12rem;
  justify-content: space-between;
}

.radio {
  display: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  padding: 0 1rem;
  font-size: 0.75rem;
  box-sizing: border-box;
  color: rgba(0,0,0, 0.9);
  background-color: #fff;
  cursor: pointer;
  transition: all 0.1s;
  border: 2px solid transparent;
  border-radius: 1rem;
}

.button:hover, .active {
  border-color: #000;
}

.next,
.prev {
  border-radius: 50%;
  width: 2rem;
  padding: 0;
}

.up, .prev {
  margin-right: 1rem;
}

.disabled {
  color: rgba(0,0,0, 0.5);
  cursor: default;
  pointer-events: none;
}
