.form {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.formControl {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}

.titleControl {
  margin-top: 0;
}

.amount {
  width: 9rem;
}

.textArea {
  resize: none;
}

.input {
  font-size: 1.25rem;
}

.label {
  display: flex;
  flex-direction: column;
}

.hasError {
  color: #c00;
}

.checkboxLabel {
  margin: 1rem;
  align-items: center;
  justify-content: center;
}

.checkbox {
  margin: 0 0.5rem 0 0;
}

.formActions {
  width: 19rem;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 0;
}
