.expenseItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 1rem 0;

  &__title {
    color: #3a3a3a;
    font-size: 1rem;
    flex: 1;
    margin: 0 1rem;
  }

  &__description {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &__price {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #00ac25;
    padding: 0.5rem;
  }

  &__isPrivate {
    background-color: #b03aff;
  }

  &__date {
    display: flex;
    flex-direction: column;
    width: 5.5rem;
    height: 5.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    align-items: center;
    justify-content: center;
  }

  &__month {
    font-size: 0.75rem;
    font-weight: bold;
  }

  &__year {
    font-size: 0.75rem;
  }

  &__day {
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__delete {
    background-color: rgb(226, 0, 0);
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
    margin-right: 1rem;
    border: 2px solid #eee;
    border-radius: 50%;
  }

  @media (min-width: 580px) {
    &__description {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex: 1;
    }

    &__title {
      font-size: 1.25rem;
    }

    &__price {
      font-size: 1.25rem;
      padding: 0.5rem 1.5rem;
    }
  }
}
