.expensesFilter__control {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 1.5rem 0;
}
.expensesFilter__select {
  font: inherit;
  width: 8rem;
  text-align: center;
  padding: 0.25rem 0;
  font-weight: bold;
}
