.rootContainer {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.subContainer {
  display: flex;
  flex-grow: 1;
}

.flexibleGap {
  min-width: 2rem;
  flex-grow: 1;
}

.biggerGap {
  min-width: 10rem;
}

.col {
  width: 4rem;
  height: 2rem;
  background-color: #f06;
}
