.accordion,
.amount,
.checkboxLabel,
.right,
.row,
.summary,
.toggle {
  display: flex;
}

.accordion {
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0.5rem 0;
}

.summary {
  justify-content: space-between;
  align-items: flex-start;
  height: 2.75rem;
  overflow: hidden;
  transition: height .2s;
}

.right {
  flex-direction: column;
  padding: 0 1rem 1rem;
}

.row {
  justify-content: flex-end;
}

.expanded {
  height: 7rem;
}

.textInput {
  box-sizing: border-box;
  font-size: 1.25rem;
  font-weight: bold;
  outline: none;
  border: none;
  min-width: 8rem;
  color: #333;
  background-color: #fff;
  text-overflow: ellipsis;
  padding: 0.5rem;
}

.textInput:focus,
.textInput:focus-visible {
  color: #333;
  background-color: #fffd7c;
}

.title {
  resize: none;
  flex-grow: 1;
  height: 7rem;
}

.amount {
  width: 6rem;
  text-align: right;
  margin-bottom: 1rem;
  padding: .5rem 0;
}

.checkboxLabel {
  align-items: center;
  margin-right: 1rem;
  cursor: pointer;
}

.checkbox {
  margin-right: .5rem;
}

.toggle {
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  color: #444;
  background-color: #fff;
  border: none;
  margin: 0;
  padding: .5rem 0 0;
}
.delete:hover,
.visibility:hover {
  background-color: #efefef;
}

.private {
  color: #b03aff;
}

.draggable {
  cursor: move;
}
