.checkboxLabel,
.right,
.row,
.summary,
.toggle {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.justifyRight {
  justify-content: flex-end;
}

.alignRight {
  align-items: flex-end;
}

.accordion {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
}

.summary {
  justify-content: space-between;
  align-items: flex-start;
  height: 3rem;
  overflow: hidden;
  transition: height .2s;
}

.spinner {
  display: flex;
  align-items: center;
  height: 3rem;
  font-size: 1.25rem;
}

.right {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.row {
  justify-content: flex-end;
}

.expanded {
  height: 10rem;
}

.textInput {
  font-family: "Roboto", sans-serif;
}

.textInput {
  box-sizing: border-box;
  font-size: 1.25rem;
  font-weight: bold;
  outline: none;
  border: none;
  color: #333;
  background-color: #fff;
  text-overflow: ellipsis;
  padding: 0.75rem 0.5rem;
  overflow: hidden;
}

.textInput:focus,
.textInput:focus-visible {
  color: #333;
  background-color: #fffd7c;
}

.textAreaExpanded {
  overflow: auto;
}

.title {
  resize: none;
  flex-grow: 1;
  height: 100%;
}

.amount {
  width: 6rem;
  text-align: right;
  padding: .75rem 0;
}

.collapsible {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 1rem 1rem;
}

.checkboxLabel {
  align-items: center;
  margin: 0 0 1rem;
  cursor: pointer;
}

.checkbox {
  margin-left: .75rem;
}

.toggle {
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  height: 100%;
  cursor: pointer;
  color: #444;
  background-color: #fff;
  border: none;
  margin: 0;
  padding: .5rem 1.125rem .5rem .75rem;
}
.delete:hover,
.visibility:hover {
  background-color: #efefef;
}

.private {
  color: #b03aff;
}

.draggable {
  cursor: move;
}
