.month {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}

.week {
  display: flex;
}

.day {
  box-sizing: border-box;
  display: block;
  font-size: 1.25rem;
  padding: .5rem;
  width: 2.5rem;
  cursor: pointer;
  border-radius: .25rem;
  text-align: center;
  margin: .1rem;
}

.sunday {
  font-weight: bold;
}

.day:hover {
  background-color: #3a68ff;
  color: #fff;
}

.selected {
  background-color: #6c8efd;
  color: #fff;
}

.dayInput {
  display: none;
}
