.newExpense {
  &__form {
    width: 100%;
    display: flex;
    margin-bottom: 0.75rem;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
    text-align: left;    
  }

  &__input {
    font: inherit;
    padding: 0.5rem;
    border: 1px solid #ccc;
    width: 10rem;
    height: 1.5rem;
    max-width: 100%;    
  }

  &__dateInput, &__amountInput {
    width: 8rem;
  }

  &__isPrivate,
  &__isPublic,
  &__add {
    width: 2.5rem;
    height: 2.6rem;
    line-height: 2.6rem;
    font: inherit;
    cursor: pointer;
    background-color: #6c8efd;
    color: white;
    border: none;
    border-radius: 2px;

    &:hover, &:active {
      background-color: #3a68ff;
    }    
  }

  &__isPublic {
    background-color: #00ac25;

    &:hover, &:active {
      background-color: #009220;
    }
  }

  &__isPrivate {
    background-color: #b03aff;

    &:hover, &:active {
      background-color: #9800fd;
    }
  }
}
